
<div data-dojo-type="dojox.mobile.ScrollableView" id="displayPictureView"
		data-dojo-props="selected:false,scrollDir:'v'" onbeforetransitionin="loadImageToDisplayView();">
		
		<h1 data-dojo-type="dojox.mobile.Heading"
			data-dojo-props="label:'Picture',back:'Back',moveTo:'mainView',fixed:'top'"></h1>
		
		<table style="width: 100%; height: 100%">
		<tr>
			<td align="center" style="width:100%">
				<img id="displayPhoto" src="" style="width:100%"></img>
			</td>
		</tr>
		</table>
</div>

