
	<div data-dojo-type="dojox.mobile.ScrollableView" id="takePictureView"
		data-dojo-props="selected:false,scrollDir:'v'">
		
		<h1 data-dojo-type="dojox.mobile.Heading"
			data-dojo-props="label:'Take Picture',back:'Back',moveTo:'mainView',fixed:'top'"></h1>
		
		<table style="width: 100%; height: 100%">
		<tr style="height: 10%">
			<td>
				<div data-dojo-type="dojox.mobile.RoundRect"
					 onClick="takePhoto();getGeoLocation();">
					Click to take a picture
				</div>
			</td>
		</tr>
		<tr>
			<td align="center" style="width:100%">
				<img id="photo" src="" style="width:100%"></img>
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr style="height: 10%">
			<td align="center">
				<div class="spacing"></div>
				<button data-dojo-type="dojox.mobile.Button" style="width:80%"
						onClick="sendPhoto();"
				>
					Send Photo
				</button>
			</td>
		</tr>
		</table>
</div>

