.claro .dojoxCalendarMatrixView {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGrid {
  position: absolute;
  left: 50px;
  right: 0px;
  top: 30px;
  bottom: 0px;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable td {
  text-align: right;
  vertical-align: top;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable td span {
  padding-right: 2px;
  padding-top: 2px;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable tr.last-child td {
  border-bottom: 1px solid #b5bcc7;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable td.last-child {
  border-right: 1px solid #b5bcc7;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable td.dojoxCalendarToday {
  background-color: #fff0b4;
  font-weight: bold;
  color: #ff0000;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable .dojoxCalendarWeekend {
  background-color: #e5f2fe;
  color: #759dc0;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarGridTable .dojoxCalendarDayDisabled {
  background-color: #e5f2fe;
  color: #759dc0;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarYearColumnHeader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 29px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #b5bcc7;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarYearColumnHeader table {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarYearColumnHeader table td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #b5bcc7;
  border-top: 1px solid #b5bcc7;
  border-right: 1px solid #b5bcc7;
  background-color: #efefef;
  background-image: url(images/titlebar.png);
  background-repeat: repeat-x;
  color: #000000;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarColumnHeader {
  position: absolute;
  left: 50px;
  right: 0px;
  top: 0px;
  height: 29px;
  cursor: default;
  border-bottom: 1px solid #b5bcc7;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarColumnHeaderTable {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarColumnHeaderTable td {
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  background-color: #efefef;
  background-image: url(images/titlebar.png);
  background-repeat: repeat-x;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #b5bcc7;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  color: #000000;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarColumnHeaderTable td.last-child {
  border-right: 1px solid #b5bcc7;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarColumnHeaderTable .dojoxCalendarWeekend {
  color: #759dc0;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarRowHeader {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 50px;
  bottom: 0;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable {
  position: relative;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #b5bcc7;
  border-right: 1px solid #b5bcc7;
  border-bottom: 1px solid #cccccc;
  background-color: #efefef;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td.last-child {
  border-bottom: 1px solid #b5bcc7;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td.Hover {
  background-color: #e5f2fe;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td.Active {
  background-color: #a5d1fb;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarContainer {
  position: absolute;
  top: 30px;
  left: 50px;
  right: 0px;
  bottom: 0px;
  cursor: default;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarContainerTable {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarContainerTable tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarContainerTable td {
  vertical-align: top;
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarContainerTable td div.dojoxCalendarContainerRow {
  position: relative;
  height: 100%;
  width: 100%;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEventContainer {
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent {
  position: absolute;
  text-align: left;
  color: #000000;
  cursor: default;
  white-space: nowrap;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal {
  color: #FFF;
  position: absolute;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal .bg {
  border: 1px solid #260000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #9f0000;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Hovered .bg {
  background-color: #cc0000;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Selected .bg {
  background-color: #660000;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.Edited {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Edited .bg {
  border: dashed 1px #FFF;
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal.Focused .bg {
  border: dashed 1px #FFF;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel.Hovered {
  color: #F40;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel.Selected {
  color: #F00;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel.Edited {
  border: dashed 1px #FFF;
  background: #600;
  filter: alpha(opacity=30);
  opacity: 0.3;
  color: #FFF;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel.Focused {
  border: dashed 1px #000000;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  position: absolute;
  left: 3px;
  right: 1px;
  bottom: 2px;
  overflow: hidden;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarLabel .labels {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 0;
  overflow: hidden;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent .handle {
  z-index: 2;
  background-color: #F00;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  position: absolute;
  width: 5px;
  height: 100%;
  cursor: e-resize;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent .moveHandle {
  left: 0;
  top: 0;
  width: 100%;
  cursor: move;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeEndHandle {
  right: 0px;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarExpand {
  position: absolute;
  text-align: center;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarExpand span {
  position: inline-block;
  vertical-align: middle;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarExpand .bg {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarExpand.Up .bg {
  background-color: #e5f2fe;
  border: 1px solid #909da9;
}
.claro .dojoxCalendarMatrixView .dojoxCalendarExpand.Down .bg {
  background-color: #a5d1fb;
  border: 1px solid #507ca6;
}
.claro .dojoxCalendarColumnView {
  cursor: default;
  -webkit-user-select: none;
}
.claro .dojoxCalendarColumnView .dojoxCalendarHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarColumnView .dojoxCalendarScrollContainer {
  left: 0;
  right: 0;
  bottom: 0;
  top: 72px;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top: 1px solid #b5bcc7;
  border-bottom: 1px solid #b5bcc7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGrid {
  position: absolute;
  left: 70px;
  right: 0;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable td {
  border-top: dotted 1px #B5BCC7;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable .hour {
  border-top: 1px solid #c7bebe;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable tr:first-child td {
  border-top: 1px solid transparent;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable .halfhour {
  border-top: dotted 1px #c7bebe;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable .quarterhour {
  border-top: dotted 1px #c7bebe;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable .dojoxCalendarToday {
  background-color: #fff0b4;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable tr td.last-child {
  border-right: 1px solid #b5bcc7;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable tr:first-child td.dojoxCalendarToday {
  border-top: 1px solid #fff0b4;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable .dojoxCalendarWeekend {
  background-color: #e5f2fe;
}
.claro .dojoxCalendarColumnView .dojoxCalendarGridTable tr:first-child td.dojoxCalendarWeekend {
  border-top: 1px solid #e5f2fe;
}
.claro .dojoxCalendarColumnView .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  cursor: default;
}
.claro .dojoxCalendarColumnView .dojoxCalendarContainerTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.claro .dojoxCalendarColumnView .dojoxCalendarContainerTable td {
  height: 100%;
  padding: 0;
  vertical-align: top;
}
.claro .dojoxCalendarColumnView .dojoxCalendarContainerColumn {
  position: relative;
  margin-left: 2px;
  margin-right: 9px;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEventContainer {
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.claro .dojoxCalendarColumnView .dojoxCalendarYearColumnHeader {
  position: absolute;
  height: 29px;
  left: 0;
  width: 68px;
  top: 0;
  border-left: 1px solid #b5bcc7;
  border-top: 1px solid #b5bcc7;
  border-right: 1px solid #b5bcc7;
}
.claro .dojoxCalendarColumnView .dojoxCalendarYearColumnHeader table {
  position: relative;
  width: 100%;
  height: 100%;
}
.claro .dojoxCalendarColumnView .dojoxCalendarYearColumnHeader table td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #b5bcc7;
  color: #000000;
  background-color: #efefef;
  background-image: url(images/titlebar.png);
  background-repeat: repeat-x;
}
.claro .dojoxCalendarColumnView .dojoxCalendarColumnHeader {
  position: absolute;
  height: 30px;
  left: 70px;
  right: 0;
  top: 0;
  cursor: default;
}
.claro .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.claro .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  background-color: #efefef;
  background-image: url(images/titlebar.png);
  background-repeat: repeat-x;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #b5bcc7;
  border-bottom: 1px solid #b5bcc7;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  color: #000000;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.claro .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td.last-child {
  border-right: 1px solid #b5bcc7;
}
.claro .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable .dojoxCalendarToday {
  font-weight: bold;
  color: #ff0000;
}
.claro .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable .dojoxCalendarWeekend {
  color: #759dc0;
}
.claro .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td.Hover {
  cursor: pointer;
  background-image: url(images/titlebar.png);
  background-repeat: repeat-x;
  background-color: #abd6ff;
  border-color: #769dc0;
}
.claro .dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td.Active {
  cursor: pointer;
  background-color: #7dbefa;
  border-color: #769dc0;
  background-position: 0 -136px;
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
}
.claro .dojoxCalendarColumnView .dojoxCalendarRowHeader {
  position: absolute;
  width: 68px;
  cursor: default;
  border-left: 1px solid #b5bcc7;
  border-right: 1px solid #b5bcc7;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.claro .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.claro .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td.dummy {
  border-top: 1px solid #efefef;
}
.claro .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td {
  vertical-align: top;
  text-align: right;
  border-top: 1px solid #b5bcc7;
  background-color: #efefef;
  color: #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable tr:first-child td {
  border-top: 1px solid #efefef;
}
.claro .dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td span {
  padding-right: 4px;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent {
  position: absolute;
  text-align: left;
  color: #FFF;
  cursor: default;
  overflow: hidden;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border: 1px solid #260000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #9F0000;
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent.Hovered .bg {
  background-color: #CC0000;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent.Selected .bg {
  background-color: #660000;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent.Edited .bg {
  border: dashed 1px #FFFFFF;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent.Focused .bg {
  border: dashed 1px #FFFFFF;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .startTime {
  font-weight: bold;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .endTime {
  position: absolute;
  font-weight: bold;
  bottom: 3px;
  left: 6px;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .beforeIcon {
  text-align: center;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .afterIcon {
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .handle {
  z-index: 2;
  background-color: #F00;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .moveHandle {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  cursor: move;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .resizeStartHandle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  cursor: n-resize;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent .resizeEndHandle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  cursor: n-resize;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent dl {
  margin: 0;
}
.claro .dojoxCalendarColumnView .dojoxCalendarEvent dd {
  margin: 0;
  padding: 0 3px;
  text-align: left;
}
.claro .dojoxCalendarColumnView .dojoxCalendarVScrollBar {
  position: absolute;
  top: 72px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 39px;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGrid {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
  cursor: default;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarRowHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  bottom: 0;
  border-right: none;
  border-left: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable td {
  text-align: right;
  vertical-align: top;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable tr.last-child td {
  border-bottom: 1px solid #b5bcc7;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarGridTable td.last-child {
  border-right: 1px solid #b5bcc7;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarRowHeaderTable td {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #b5bcc7;
  border-right: 1px solid #b5bcc7;
  border-bottom: 1px solid #b5bcc7;
  background-color: #efefef;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .handle {
  z-index: 2;
  background-color: #F00;
  filter: alpha(opacity=0);
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  position: absolute;
  width: 5px;
  height: 100%;
  cursor: e-resize;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .moveHandle {
  left: 0;
  top: 0;
  width: 100%;
  cursor: move;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  position: absolute;
  left: 3px;
  right: 1px;
  bottom: 2px;
  overflow: hidden;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .resizeEndHandle {
  right: 0px;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .afterIcon {
  width: auto;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent .endTime {
  position: relative;
  bottom: auto;
  left: auto;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand {
  position: absolute;
  text-align: center;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand .bg {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  -moz-border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand.Up .bg {
  background-color: #e5f2fe;
  border: 1px solid #909da9;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarExpand.Down .bg {
  background-color: #a5d1fb;
  border: 1px solid #507ca6;
}
.claro .dojoxCalendarColumnView .dojoxCalendarMatrixView .dojoxCalendarEvent div {
  white-space: nowrap;
}
.claro .dojoxCalendar .buttonContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 31px;
}
.claro .dojoxCalendar .buttonContainer .dijitToolbar {
  border: 1px solid #B5BCC7;
}
.claro .dojoxCalendar .viewContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 31px;
  bottom: 0;
}
.claro .dojoxCalendar .view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
