
/* Stylesheet content from css/PhoneGapDemoClient.css in folder common */
/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */
#content {
	height: 460px;
	margin: 0 auto;
	width: 320px;
}
/* Stylesheet content from css/PhoneGapDemoClient.css in folder iphone */

/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an iPhone application */
body {
	height: auto;
	overflow: auto;
}

/*Worklight container div */
#content {
	width: 100%;
}
