
.dojoxGrid {
	position: relative;
	background-color: #EBEADB;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	-moz-outline-style: none;
	outline: none;
	overflow: hidden;
	height: 0;
}
.dojoxGrid table {
	padding: 0;
}
.dojoxGrid td {
	-moz-outline: none;
}
.dojoxGridMasterHeader {
	position: relative;
}
.dojoxGridMasterView  {
	position: relative;
}
.dojoxGridMasterMessages {
	position: relative;
	padding: 1em;
	text-align: center;
	background-color: white;
}
.dojoxGridView {
	position: absolute;
	overflow: hidden;
}
.dojoxGridHeader {
	position: absolute;
	overflow: hidden;
	cursor: default;
}
.dojoxGridHeader {
	background-color: #E8E1CF;
}
.dojoxGridHeader table {
	text-align: center;
}
.dojoxGridHeader .dojoxGridCell { 
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background: url(../../resources/images/grid_dx_gradient.gif) #E8E1CF top repeat-x;
	padding-bottom: 2px;
}
.dojoxGridHeader .dojoxGridCellOver {
	background-image: none;
	background-color: white;
	border-bottom-color: #FEBE47;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 3px;
}
.dojoxGridHeader .dojoxGridCellFocus {
	border: 1px dashed blue;
}
.dojoxGridHeader.dojoxGridCellFocus.dojoxGridCellOver {
	background-image: none;
	background-color: white;
	border-bottom-color: #FEBE47;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 3px;
}
.dojoxGridArrowButtonNode {
	display: none;
	padding-left: 16px;
}
.dojoxGridArrowButtonChar {
	display:inline;
}
 
.dojoxGridArrowButtonNode:hover {
        cursor: default;
}
.dojoxGridArrowButtonChar:hover {
        cursor: default;
}
.dojoxGridSortUp:hover {
        cursor: default;
}
.dojoxGridSortDown:hover {
        cursor: default;
}
.dijit_a11y .dojoxGridArrowButtonChar {
	display:inline !important;
}
.dojoxGridScrollbox {
	position: relative;
	overflow: auto;
	background-color: white;
	width: 100%;
}
.dojoxGridContent {
	position: relative;
	overflow: hidden;
	 -moz-outline-style: none;
	outline: none;
}
.dojoxGridRowbar { 
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	border-top: none;
	background: url(../../resources/images/grid_dx_gradient.gif) #E8E1CF top repeat-x;
}
.dojoxGridRowbarInner {
	border-top: 1px solid #F6F4EB;
}
.dojoxGridRowbarOver {
	background-image: none;
	background-color: white;
	border-top-color: #FEBE47;
	border-bottom-color: #FEBE47;
}
.dojoxGridRowbarSelected {
	background-color: #D9E8F9;
}
.dojoxGridRow {
	position: relative;
	width: 9000em;
}
.dojoxGridRow {
	
	border: 1px solid #E8E4D8;
	border-color: #F8F7F1;
	
	border-left: none;
	border-right: none;
	background-color: white;
	border-top: none;
}
.dojoxGridRowOver {
	border-top-color: #FEBE47;
	border-bottom-color: #FEBE47;
	
	
	
}
.dojoxGridRowOdd {
	background-color: #FFFDF3;
	
}
.dojoxGridRowSelected {
	background-color: #D9E8F9;
}
.dojoxGridRowTable {
	table-layout: fixed;
	width: 0;
	empty-cells: show;
}
.dj_ie .dojoxGridRowTable {
	border-collapse: collapse;
}
.dojoxGridInvisible {
	visibility: hidden;
}		
.Xdojo-ie .dojoxGridInvisible {
	display: none;
}		
.dojoxGridInvisible td, .dojoxGridHeader .dojoxGridInvisible td {
	border-top-width: 0;
	border-bottom-width: 0;
	padding-top: 0;
	padding-bottom: 0;
	height: 0;
	overflow: hidden;
}
.dojoxGridCell {
	border: 1px solid;
	border-color: #EBEADB;
	border-right-color: #D5CDB5;
	padding: 3px 3px 3px 3px;
	text-align: left;
	overflow: hidden;
}
.dojoxGridCellFocus {
	border: 1px dashed blue;
}
.dojoxGridCellOver {
	border: 1px dotted #FEBE47;
}
.dojoxGridCellFocus.dojoxGridCellOver {
	border: 1px dashed green;
}
.dojoxGridRowEditing td {
	background-color: #F4FFF4;
}
.dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.dojoxGridRow-error td {
	background-color: #F8B8B6;
}
.dojoxGridInput, .dojoxGridSelect, .dojoxGridTextarea {
	margin: 0;
	padding: 0;
	border-style: none;
	width: 100%;
	font-size: 100%;
	font-family: inherit;
}
.dojoxGridHiddenFocus {
	position: absolute;
	top: -1000px;
	height: 0;
	width: 0;
}
.dijit_a11y .dojoxGridRowbarSelected { 
	border-top: 1px solid white;
	border-bottom: 1px dashed black;
	border-top: 0;
	background: none;
}
.dijit_a11y .dojoxGridRowbarSelected .dojoxGridRowbarInner {
	border: 0;
	border-top: 1px solid white;
}
.dijit_a11y .dojoxGridRowSelected {
	border: 1px solid black !important;
}
.dojoxGridDndAvatar {
	font-size: 100%;
}
.dojoxGrid .dojoDndItemBefore {
	border-left-color: red;
}
.dojoxGrid .dojoDndItemAfter {
	border-right-color: red;
}
.dijit_a11y .dojoDndItemBefore {
	border-left: double;
}
.dijit_a11y .dojoDndItemAfter {
	border-right: double;
}
.dojoxGridDndAvatarItem	td {
	border: 1px solid;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background: url(../../resources/images/grid_dx_gradient.gif) #E8E1CF top repeat-x;
	padding: 0pt;
	margin: 0pt;
}
.dojoxGridDndAvatarItem	td.dojoxGridDndAvatarItemImage {
	border: 0;
	border-color: #F6F4EB #ACA899 #ACA899 #F6F4EB;
	background-color: transparent;
	padding: 3px;
	padding-bottom: 2px;
	margin: 0;
}
.dojoDndMove .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url(../../../../dojo/resources/images/dndNoMove.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndCopy .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url(../../../../dojo/resources/images/dndNoCopy.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url(../../../../dojo/resources/images/dndMove.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridDndAvatarItem .dojoxGridDndAvatarItemImage {
	background-image: url(../../../../dojo/resources/images/dndCopy.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.dojoxGridColPlaceBottom {
	background: transparent url(../../resources/images/grid_sort_up.gif) no-repeat scroll left top;
}
.dojoxGridColPlaceTop {
	background: transparent url(../../resources/images/grid_sort_down.gif) no-repeat scroll left top;
}
.dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {
	font-size:1px;
	height:6px;
	z-index:10000;
	top:0;
	overflow:hidden;
	position:absolute;
	line-height:1px;
	width:8px;
}
.dojoxGridResizeColLine {
	width: 1px;
	background-color: #777;
	position: absolute;
	cursor: col-resize;
	z-index:10000;
}
.dojoxGridColNoResize, 
.dojoxGridColNoResize .dojoDndItemOver {
	cursor: not-allowed !important;
}
.dojoxGridColResize, 
.dojoxGridColResize .dojoDndItemOver,
.dojoxGridColumnResizing,
.dojoxGridColumnResizing .dojoDndItemOver,
.dojoxGridColumnResizing .dojoxGridHeader {
	cursor: col-resize !important;
}
.dojoxGridColPlaceBottom {
	background: transparent url(../../resources/images/grid_sort_up.gif) no-repeat scroll left top;
}
.dojoxGridColPlaceTop {
	background: transparent url(../../resources/images/grid_sort_down.gif) no-repeat scroll left top;
}
.dojoxGridColPlaceTop, .dojoxGridColPlaceBottom {
	font-size:1px;
	height:6px;
	z-index:10000;
	top:0;
	overflow:hidden;
	position:absolute;
	line-height:1px;
	width:8px;
}
.dojoxGridResizeColLine {
	width: 1px;
	background-color: #777;
	position: absolute;
}
.dojoxGridExpandoCell {
	vertical-align: middle;
}
.dojoxGridSummarySpan {
	visibility: hidden;
}
.dojoxGridSummaryRow .dojoxGridSummarySpan,
.dojoxGridRowCollapsed .dojoxGridSummarySpan {
	visibility: visible;
}
.dojoxGridNoChildren .dojoxGridExpando {
	visibility: hidden !important;
	width: 0px !important;
}
.claro .dojoxGrid {
	margin:0px;
	padding:0px;
	border-collapse:collapse;	
	background-color: #fff;
	border: 1px solid #DBDBDB;
}
.claro .dojoxGridMasterMessages {
	background-color: #fefefe;
}
.claro .dojoxGridLoading, 
.claro .dojoxGridError {
	background-position:left center;
	background-repeat: no-repeat;
	padding-left:25px;
}
.claro .dojoxGridLoading {
	background-image:url(../../../../dijit/themes/claro/images/loadingAnimation.gif);
}
.claro .dojoxGridError {
	background-image: url(../../../../dijit/icons/images/commonIconsObjActEnabled.png); 
	background-position: -496px;
	width: 16px;
	height: 16px;
}
.claro .dojoxGridHeader {
	background: transparent;
	margin-left: -2px;
}
.claro .dojoxGridHeader .dojoxGridCell {
	padding: 2px 5px;
	vertical-align: top;
	background: transparent;
	border-style:solid;
	border-width:1px;
	border-color: #FFFFFF #BCBCBC #BCBCBC #FFFFFF;
}
.dj_ie6 .claro .dojoxGridHeader .dojoxGridCell { 
	border-color:#BCBCBC #BCBCBC #BCBCBC #e5edf4;
}
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #9dcfff;
}
.claro .dojoxGridSortNode {
	text-decoration:none;
	display:block;
	white-space: normal;
	background: none;
	border: none;
	padding: 0;
}
.claro .dojoxGridCellOver .dojoxGridSortNode {
	background-color:#9dcfff;
}
.claro .dojoxGridArrowButtonChar {
	display:none;
	float:right;
}
.claro .dojoxGridArrowButtonNode {
	background:transparent url(../../../../dijit/themes/claro/images/spriteArrows.png) no-repeat scroll left center;
	display:block;
	float:right;
	height:1em;
	margin:2px 4px 0 5px;
	padding-left:0;
	width:7px;
}
.claro .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position:-21px 50%;
}
.claro .dojoxGridMasterHeader {
	background: url(../../resources/images/header.png) #EDF2F7 repeat-x bottom;
	background: -moz-linear-gradient(top, #EDF2F7, #D0DFEA);
	background: -webkit-gradient(linear, left top, left bottom, from(#EDF2F7), to(#D0DFEA));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEDF2F7, endColorstr=#FFD0DFEA);
	border: 1px solid #FFFFFF;
	border-right: none;
}
.claro .dojoxGridMasterHeader .dojoxGridRowTable {
	border-left: 1px solid #BCBCBC;
	border-right: 1px solid #FFFFFF;
	background-color: transparent;
}
.dj_ie .claro .dojoxGridHeader .dojoxGridRowTable {
	border-collapse:separate;
}
.claro .dojoxGridHeader .dojoxGridRowTable tr {
	background: none;
}
.claro .dojoxGridHeader tr:first-child .dojoxGridCell {
	border-top: 1px solid transparent;
}
.claro .dojoxGridHeader:first-child .dojoxGridRowTable {
	border-left-width: 0;
}
.claro .dojoxGridHeader:first-child {
	margin-left: -1px;
}
.claro .dojoxGridScrollbox {
	background-color: #fefefe;
}
.claro .dojoxGridRowbar { 
	background:url(../../resources/images/header.png) #e5edf4 repeat-x top;
	border:none;
	border-right:1px solid #BCBCBC;
}
.claro .dojoxGridRowbarTable { 
	background:transparent url(../../resources/images/header_shadow.png) repeat-x scroll center bottom;
}
.dj_ie6 .claro .dojoxGridRowbar,
.dj_ie6 .claro .dojoxGridRowbarTable { 
	background-image:none;
}
.claro .dojoxGridRowbarInner {
	border:none;
	border-bottom:1px solid #ccc;
}
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color:#abd5fd;
}
.claro .dojoxGridRowbarSelected {
	background-color:#abd5fd;
	border-right:1px solid #ccc;
}
.claro .dojoxGridRow {
	border:none;
	background-color:#fff;
}
.dj_ie .claro .dojoxGridMasterView .dojoxGridRowTable {
	border-collapse:separate;
}
.claro .dojoxGridRowTable tr {
	background:url(../../resources/images/row_back.png) #fff repeat-x;
}
.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color:#f7fcff;
}
.claro .dojoxGridRowSelected .dojoxGridRowTable tr {
	background-color:#cee6fa;
}
.claro .dojoxGridCell {
	outline: none;
	padding: 3px 5px;
	word-wrap: break-word;
	border:1px solid transparent;
	border-color: transparent #E5DAC8 #E5DAC8 transparent;
}
.dj_ie6 .claro .dojoxGridCell {
	border-color: #F5F5F5;
}
.dj_ie6 .claro .dojoxGridRowOdd .dojoxGridCell {
	border-left-color:#f4f9fd;
	border-right-color:#f4f9fd;
}
.dj_ie6 .claro .dojoxGridRowSelected .dojoxGridCell {
	border-left-color:#d3e9fb;
	border-right-color:#d3e9fb;
}
.claro .dojoxGridRowSelected .dojoxGridCell {
	border-top:1px solid #BFD6EB;
	border-bottom:1px solid #BFD6EB;
}
.claro .dojoxGridCellFocus {
	outline: none;
	border:1px dashed darkblue !important;
}
.claro .dojoxGridRowOver .dojoxGridCell {
	background:url(../../resources/images/row_back.png) #ABD6FF repeat-x;
	border-top:1px solid #769DC0;
	border-bottom:1px solid #769DC0;
}
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #ABD6FF;
	border-right:1px solid #ABD6FF;
}
.claro .dojoxGridRowActive .dojoxGridCell {
	background:url(../../resources/images/td_button_down.png) #7DBEFA repeat-x;
}
.dj_ie6 .claro .dojoxGridRowActive .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowActive .dojoxGridCell {
	border-left:1px solid #7DBEFA;
	border-right:1px solid #7DBEFA;	
}
.claro .dojoxGridDoubleAffordance .dojoxGridRowOver .dojoxGridCellOver {
	border:solid 1px #769dc0;
	background-color:#93cafe;
	border-collapse:separate;
}
.claro .dojoxGridDoubleAffordance .dojoxGridRowActive .dojoxGridCell{	
	background-image:url(../../resources/images/row_back.png);
}
.claro .dojoxGridDoubleAffordance .dojoxGridRowActive .dojoxGridCellActive {	
	background:url(../../resources/images/td_button_down.png) #93cafe repeat-x;
}
.dj_ie6 .claro .dojoxGridCell {
	background-image:none !important;
}
.claro .dojoxGridRowEditing td {
	
	background-color: #cee6fa; 
	
}
.claro .dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.claro .dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.claro .dojoxGridRow-error td {
	background-color: #F8B8B6;
}
.claro .dojoxGrid .dojoDndItemBefore {
	border-left-color: #3559ac;
}
.claro .dojoxGrid .dojoDndItemAfter {
	border-right-color: #3559ac;
}
.claro .dojoxGridExpando {
	float: left;
	height: 18px;
	width: 18px;
	text-align: center;
	margin-top: -3px;
}
.dijitRtl .claro .dojoxGridExpando {
	float: right;
}
.claro .dojoxGridExpandoCell {
	padding-top: 5px;
	background-position: left top !important;
}
.claro .dojoxGridExpandoNode {
	background-image: url(../../../../dijit/themes/claro/images/treeExpandImages.png);
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-position: 1px 0px; 
}
.dj_ie6 .claro .dojoxGridExpandoNode {
	background-image: url(../../../../dijit/themes/claro/images/treeExpandImages8bit.png);
}
.claro .dojoxGridRowOver .dojoxGridExpandoNode {
	background-position: -17px 0px;
}
.claro .dojoxGridExpandoOpened .dojoxGridExpandoNode {
	background-position: -35px 0px;
}
.claro .dojoxGridRowOver .dojoxGridExpandoOpened .dojoxGridExpandoNode {
	background-position: -53px 0px;
}
.claro .dojoxGridExpandoLoading .dojoxGridExpandoNode {
	background-image: url(../../../../dijit/themes/claro/images/loadingAnimation.gif);
}
.claro .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpando {
	visibility: visible !important;
	width: 18px !important;
}
.claro .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpandoNode,
.dj_ie6 .claro .dojoxGridTreeModel .dojoxGridNoChildren .dojoxGridExpandoNode {
	background-image:none;
}
.claro .dojoxGridExpandoNodeInner {
	visibility: hidden;
}
.dijit_a11y .dojoxGridExpandoNodeInner {
	visibility: visible;
}
.claro .dojoxGridSummaryRow .dojoxGridCell {
	border:1px solid transparent;
}
.dj_ie6 .claro .dojoxGridSummaryRow .dojoxGridCell {
	border-color:#fff
}
.claro tr.dojoxGridSubRowAlt {
	background-color:#f4f9fd;
}
.claro .dojoxGridRowOdd tr.dojoxGridSubRowAlt {
	background-color:#fff;
}
.claro .dojoxGridRow .dojoxGridRowTable tr.dojoxGridRowSelected {
	background-color:#cee6fa;
}
.dojoxGridRowSelector {
	cursor: pointer;
}
.dojoxGridRowSelectorStatusText{
	visibility:hidden;
}
.dijit_a11y .dojoxGridRowSelected {
	opacity:0.8 !important;
}
.dijit_a11y .dojoxGridBorderDIV {
	border:2px solid #000 !important;
}
.dijit_a11y .dojoxGridRowSelector {
	height:100% !important;
}
.dijit_a11y .dojoxGridRowSelectorStatusText{
	font-size:larger !important;
	visibility:visible;
}
.dijit_a11y .dijitCheckBox .dojoxGridRowSelectorStatusText{
	font-weight:bolder !important;
	font-size:x-large !important;
}
.dijit_a11y .dijitCheckBoxChecked .dojoxGridRowSelectorStatusText{
	font-size:small !important;
}
.dojoxGridFBar {
	width: 100%;
	cursor: pointer;
}
.dojoxGridFBar .dojoxGridFBarBtn {
	margin: 0;
}
.dojoxGridFBarBtnTD {
	width: 38px;
}
.dojoxGridFBar .dojoxGridFBarBtn .dijitButtonNode {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 2px;
}
.dojoxGridFBarDefFilterBtnIcon {
	background: url(images/sprite_icons.png) no-repeat;
	background-position: -100px -18px;
	width: 14px;
	height: 14px;
}
.dj_ie .dojoxGridFBarInner{
	display: inline-block;
	width: 100%;
}
.dojoxGridFBarStatus {
	margin-left: 9px;
	float: left;
}
.dojoxGridFBarClearFilterBtn {
	margin: 0 0 0 10px;
	vertical-align: top;
	float: left;
}
.dojoxGridFBarInfoTD .dojoxGridFBarClearFilterBtn .dijitButtonNode,
.dojoxGridFBarInfoTD .dojoxGridFBarCloseBtn .dijitButtonNode,
.dojoxGridFDPane .dijitAccordionTitle .dijitButtonNode,
.dojoxGridFStatusTipDetail .dijitButton .dijitButtonNode {
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	background-image: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
}
.dj_ie .dojoxGridFBarInner {
	position: relative;
}
.dojoxGridFBarCloseBtn {
	margin: 0 4px 0 0;
	float: right;
}
.dj_ie .dojoxGridFBarCloseBtn {
	float: none;
	position: absolute;
	right: 0;
}
.dojoxGridFBarCloseBtnIcon {
	background: url(images/sprite_icons.png) no-repeat;
	background-position: -119px -20px;
	width: 14px;
	height: 14px;
}
.dijitButtonHover .dojoxGridFBarCloseBtnIcon {
	background-position: -140px -20px;
}
.dijitButtonActive .dojoxGridFBarCloseBtnIcon {
	background-position: -160px -20px;
}
.dojoxGridFDTitlePane {
	width: 316px;
	height: 330px;
}
.dijit_a11y .dojoxGridFDTitlePane .dijitArrowButtonInner{
	
	display:none !important;
}
.dojoxGridFDTitlePane .dijitDialogPaneContent {
	padding: 7px 5px 9px 5px;
	height: 290px !important;
}
.dojoxGridFDTitlePane .dijitTitlePaneTitle {
	cursor: move;
}
.dojoxGridFDPaneRelation {
	margin: 0 0 3px 4px;
}
.dojoxGridFDPane {
	width: 100%;
	height: 100%;
	position: relative;
}
.dojoxGridFDPaneRulePane {
	height: 222px;
	overflow: auto;
	
	position: relative;
}
.dj_ie6 .dojoxGridFDPaneRulePane {
	width: 100%;
}
.dojoxGridFDPane .dijitAccordionContainer .dijitContentPane {
	padding: 6px 9px;
}
.dojoxGridFDPane .dijitAccordionTitle {
	position: relative;
	
	min-height: 17px;
}
.dojoxGridFDPane .dijitAccordionTitle .dijitButton {
	position: absolute;
	margin: 0;
	right: 3px;
	top: 4px;
}
.dj_ie6 .dojoxGridFDPane .dijitAccordionTitle .dijitButton {
	top: 2px;
}
.dojoxGridFDPane .dijitAccordionTitleFocus {
	margin-right: 14px;
}
.dojoxGridFDPane .dijitAccordionText {
	display: inline-block;
	position: relative;
}
.dojoxGridFCBoxRemoveCBoxBtnIcon {
	background-image: url(images/sprite_icons.png);
	background-position: -198px -18px;
	width: 16px;
	height: 16px;
}
.dijitButtonHover .dojoxGridFCBoxRemoveCBoxBtnIcon {
	background-position: -198px 2px;
}
.dojoxGridRuleTitleCondition {
	font-style: italic;
}
.dojoxGridFDPaneModes .dijitSelect {
	position: relative;
}
.dojoxGridFDPaneBtns {
	position: absolute;
	right: 0;
	bottom: 0;
}
.dj_ie7 .dojoxGridFDPaneBtns,
.dj_ie6 .dojoxGridFDPaneBtns {
	z-index: -1;
}
.dojoxGridFDPaneBtns .dijitButton {
	float: right;
}
.dojoxGridFDPaneAddCBoxBtn {
	margin-top: 9px;
}
.dojoxGridFDPaneAddCBoxBtnIcon {
	background-image: url(images/sprite_icons.png);
	background-position: -218px 2px;
	width: 16px;
	height: 16px;
}
.dijitButtonDisabled .dojoxGridFDPaneAddCBoxBtnIcon {
	background-position: -218px -18px;
}
.dojoxGridFCBox {
	height: 125px;
}
.dojoxGridFCBoxSelCol, 
.dojoxGridFCBoxCondition {
	height: 40px;
}
.dojoxGridFCBox .dojoxGridFCBoxColSelect, 
.dojoxGridFCBox .dojoxGridFCBoxCondSelect, 
.dojoxGridFCBox .dojoxGridFCBoxValueBox {
	margin: 0.1em 0 0 0;
	width: 100%;
	
	display: inline-table;
}
.dojoxGridFCBoxCondSelectAlt {
	width: 100%;
	padding: 5px 0 0 0;
	font-weight: bold;
}
.dojoxGridFCBox .dijitSelect .dijitArrowButton {
	width: 18px;
}
.dojoxGridFCBoxStartValue {
	width: 45%;	
}
.dojoxGridFCBoxEndValue {
	float: right;
	width: 45%;
}
.dojoxGridFCBoxRangeValueTxt {
	margin-left: 4px;
}
.dojoxGridFStatusTipDialog .dijitTooltipContainer {
	padding: 9px 5px;
}
.dojoxGridFStatusTip thead,
.dojoxGridFStatusTip tr {
	height: 19px;
}
.dojoxGridFStatusTip th {
	max-width: 150px;
	width: expression(this.clientWidth > 150 ? "150px" : "auto");
}
.dojoxGridFStatusTip th div {
	padding: 2px 5px;
}
.dojoxGridFStatusTip td {
	padding: 2px 6px;
	max-width: 150px;
	overflow: hidden;
	width: expression(this.clientWidth > 150 ? "150px" : "auto");
}
.dojoxGridFStatusTipHead {
	margin-bottom: 9px;
}
.dojoxGridFStatusTipTitle {
	font-weight: bold;
	margin-right: 1em;
}
.dojoxGridFStatusTipHandle {
	position: relative;
	padding-right: 16px;
}
.dojoxGridFStatusTipDetail .dijitButton {
	position: absolute;
	margin: 0;
	padding: 0;
	top: -1px;
	right:0;
}
.dojoxGridFStatusTipDelRuleBtnIcon {
	background-image: url(images/sprite_icons.png);
	background-position: -198px -18px;
	height: 16px;
	width: 16px;
}
.dijitButtonHover .dojoxGridFStatusTipDelRuleBtnIcon {
	background-position: -198px 2px;
}
.dj_ie7 .dojoxGridClearFilterConfirm,
.dj_ie6 .dojoxGridClearFilterConfirm {
	width: 300px;
}
.dojoxGridClearFilterBtns{
	padding: 10px;
	height: 18px;
}
.dojoxGridClearFilterBtns .dijitButton {
	float: right;
}
.dojoxGridTrueBox {
	float: left;
	width: 49%;
}
.dojoxGridFalseBox {
	float: left;
	width: 49%;
}
.dojoxGridBoolValueBox .dijitRadio {
	vertical-align: middle;
} 
.dojoxGridTrueLabel,
.dojoxGridFalseLabel {
	width: 116px;
	display:inline-block;
	vertical-align: middle;
}
.dj_ie7 .dojoxGridTrueLabel,
.dj_ie7 .dojoxGridFalseLabel {
	display: inline;
}
.dojoxGridPaginator {
	border-top:1px #DBDBDB solid;
	text-align:center;
	width: 100%;
	height: 24px;
	table-layout : fixed;
	background-color: #EAEAEA;
}
.dojoxGridDescriptionTd {
	text-align: left;
	width: 35%;
}
.dojoxGridDescription {
	text-align: left;
	margin-left: 9px;
	overflow: hidden;
}
.dojoxGridPaginatorFastStep {
	text-align: right;
	width: 35%;
	overflow: hidden;
}
.dojoxGridPaginatorStep {
	float: right;
}
.dojoxGridPaginatorGotoTd {
	width: 20px!important;
}
.dojoxGridPaginatorGotoDiv {
	cursor: pointer;
	width: 12px!important;
	height: 16px!important;
	margin: 0 6px 0 2px;
	background: url(images/sprite_icons.png) no-repeat -77px 4px;
}
.dojoxGridPaginatorGotoDivDisabled {
	cursor: not-allowed;
	background: url(images/sprite_icons.png) no-repeat -77px -16px;
}
.dojoxGridWardButton {
	margin-top: 2px;
	width: 12px!important;
	height: 12px!important;
	float: left;
	background: url(images/sprite_icons.png) no-repeat;
}
.dojoxGridWardButtonInner {
	visibility: hidden;
}
.dijit_a11y .dojoxGridWardButtonInner {
	visibility: visible;
	margin-bottom: 8px;
}
.dojoxGridfirstPageBtn {
	cursor: pointer;
	margin-left: 1px;
	background-position: -57px 3px;
}
.dojoxGridfirstPageBtnDisable {
	margin-left: 1px;
	cursor: not-allowed;
	background-position: -57px -17px;
}
.dojoxGridprevPageBtn {
	cursor: pointer;
	margin: 2px 2px 0 9px;
	background-position: 3px 3px;
}
.dojoxGridprevPageBtnDisable {
	cursor: not-allowed;
	margin: 2px 2px 0 9px;
	background-position: 3px -17px;
}
.dojoxGridlastPageBtn {
	cursor: pointer;
	margin: 2px 9px 0 9px;
	background-position: -37px 3px;
}
.dojoxGridlastPageBtnDisable {
	cursor: not-allowed;
	margin: 2px 9px 0 9px;
	background-position: -37px -17px;
}
.dojoxGridnextPageBtn {
	cursor: pointer;
	margin-left: 3px;
	background-position: -17px 3px;
}
.dojoxGridnextPageBtnDisable {
	margin-left: 3px;
	cursor: not-allowed;
	background-position: -17px -17px;
}
.dojoxGridInactived {
	font-weight: normal;
	color: #5D88AF;
	cursor: pointer;
	margin: 1px 6px 0 5px;
	float: left;
	zoom: 1; 
}
.dojoxGridActived {
	font-weight: bold;
	color: black;
	margin: 1px 6px 0 5px;
	float: left;
	text-decoration: none!important; 
	zoom: 1; 
}
.dojoxGridInactiveSwitch {
	font-weight: normal;
	color: #5D88AF;
	float: left;
	cursor: pointer;
	margin: 1px 7px 0 7px;
	zoom: 1; 
}
.dojoxGridActivedSwitch {
	font-weight: bold;
	color: black;
	float: left;
	margin: 1px 7px 0 7px;
	text-decoration: none!important; 
	zoom: 1; 
}
.dojoxGridSeparator {
	float: left;
}
.dojoxGridPageTextHover {
	text-decoration: underline;
}
.dojoxGridDialogMargin {
	width: 220px!important;
	margin-bottom: 10px;
}
.dj_ie6 .dojoxGridDialogMargin {
	position: relative;
}
.dojoxGridDialogButton {
	width: 220px!important;
	text-align: right;
}
.dojoxGridButtonFocus {
	outline: none;
	border: 0.5px dotted darkblue !important;
}
.dojoxGridBorderDIV {
	width:2px;
	background-color: gray;
	font-size:0em;
	position:absolute;
	z-index:9999;
}
.dojoxGridCellBorderDIV {
	position:absolute;
	background-color: transparent;
	border: none;
}
.dojoxGridCellBorderLeftTopDIV {
	position: absolute;
	left: 0;
	top: 0;
	border-style: solid;
	border-width: 2px 0 0 2px;
	border-color: gray transparent transparent gray;
}
.dojoxGridCellBorderRightBottomDIV {
	position: absolute;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-width: 0 2px 2px 0;
	border-color: transparent gray gray transparent;
}
.dojoxGridDnDItemIcon {
	background-image: url(images/sprite_icons.png);
}
.dojoxGridDnDIconRowSingle {
	background-position: -256px 5px;
}
.dojoxGridDnDIconRowMulti {
	background-position: -256px -16px;
}
.dojoxGridDnDIconColSingle {
	background-position: -277px 3px;
}
.dojoxGridDnDIconColMulti {
	background-position: -277px -17px;
}
.dojoxGridDnDIconCellSingle {
	background-position: -235px 5px;
}
.dojoxGridDnDIconCellMulti {
	background-position: -236px -16px;
}
.dojoxGridDndAvatar {
	background-color:white;
	border: 1px solid #CCCCCC;
	padding: 0px;
	-moz-box-shadow: 5px 5px 7px #999;
	-webkit-box-shadow: 5px 5px 7px #999;
	box-shadow: 5px 5px 7px #999;
	z-index: 999;
}
.dojoxGridDndAvatar td {
	padding: 3px;
}
.dojoxGridDnDIcon,
.dojoxGridDnDItemIcon {
	width: 16px;
	height: 16px;
}
.dojoDndMove .dojoxGridDnDIcon {
	background: url(../../../../dojo/resources/images/dndNoMove.png) no-repeat center center;
}
.dojoDndCopy .dojoxGridDnDIcon {
	background: url(../../../../dojo/resources/images/dndNoCopy.png) no-repeat center center;
}
.dojoDndMove .dojoDndAvatarCanDrop .dojoxGridDnDIcon {
	background: url(../../../../dojo/resources/images/dndMove.png) no-repeat center center;
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoxGridDnDIcon {
	background: url(../../../../dojo/resources/images/dndCopy.png) no-repeat center center;
}
.dojoxGrid .dojoxGridSortNode {
	position: relative;
	border: 1px solid transparent;
	cursor: pointer;
}
.dj_ie6 .dojoxGrid .dojoxGridSortNode,
.dj_ie7 .dojoxGrid .dojoxGridSortNode {
	overflow: hidden;
	width:100%;	
}
.dojoxGrid .dojoxGridSortNoWrap {
	white-space:nowrap;
	word-wrap: normal;
}
.dojoxGridSortBtn {
	width: 10px;
	height:100%;
	visibility: hidden;
	top: 0;
	display:block;
	position: absolute;
	color: #000;
	background: #DFEAF1 url(images/sprite_icons.png) no-repeat 100px 0;
	text-decoration: none;
	outline: none;
	right: 0;
	border: 1px solid transparent;
	box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-khtml-box-sizing: border-box; 
}
.dj_ie6 .dojoxGridSortBtn,
.dj_ie6 .dojoxGrid .dojoxGridSortNode {
	border: none;
}
.dojoxGridSortBtnNested {
	right: 10px;
}
.dojoxGridCellSortFocus  .dojoxGridSortBtn {
	border-left: 1px solid #999999;
	background-color: #DFEAF1;
}
.dojoxGridCellOver .dojoxGridSortBtn {
	border-left: 1px solid #999999;
	background-color: #9dcfff;
}
.dojoxGridSortNode {
	outline: none;
}
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.dojoxGridCellSortFocus .dojoxGridSortNode,
.dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellOver .dojoxGridSortNodeMain,
.dojoxGridSingleSorted .dojoxGridHeader .dojoxGridCellSortFocus .dojoxGridSortNodeMain {
	margin-right: 5px;
}
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode,
.dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode {
	margin-right: 24px;
}
html > body .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle {
	right: -5px;
}
html > body .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -10px;
}
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle,
html > body .dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnSingle,
html > body .dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnSingle {
	right: -28px;
}
html > body .dojoxGridSorted .dojoxGridCellOver .dojoxGridSortBtnNested,
html > body .dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	right: -17px;
}
.dojoxGrid .dojoxGridHeader .dojoxGridRowTable .dojoxGridNoSort .dojoxGridSortNode {
	margin: 0!important;
}
.dj_ie7 .dojoxGridSortBtn {
	right: 0!important;
}
.dj_ie7 .dojoxGridSortBtnNested {
	right: 10px!important;
}
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnSingle,					
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnSingle,
.dojoxGridSorted .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnNested,				
.dojoxGridSorted .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnNested,
.dojoxGrid .dojoxGridCellShowIndex .dojoxGridSortNode .dojoxGridSortBtnNested,		
.dojoxGrid .dojoxGridSortNodeSorted .dojoxGridSortBtn {										
	visibility: visible;
}
.dojoxGridSingleSorted .dojoxGridCellOver .dojoxGridSortNodeMain .dojoxGridSortBtnNested,	
.dojoxGridSingleSorted .dojoxGridCellSortFocus .dojoxGridSortNodeMain .dojoxGridSortBtnNested,
.dojoxGridSingleSorted .dojoxGridSortNode .dojoxGridSortBtnNested {							
	visibility: hidden;
}
.dojoxGridSortNodeAsc .dojoxGridSortBtnSingle {
	background-position: -119px 5px;
	visibility: visible;
}
.dojoxGridSortNodeDesc .dojoxGridSortBtnSingle {
	background-position: -99px  5px;
	visibility: visible;
}
.dojoxGridCellOver .dojoxGridSortBtnSingle,
.dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnSingle,
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnAsc,
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnAsc {
	background-position: -139px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnSingle, 
.dojoxGrid .dojoxGridCellOver .dojoxGridSortNode .dojoxGridSortBtnDesc, 
.dojoxGrid .dojoxGridCellSortFocus .dojoxGridSortNode .dojoxGridSortBtnDesc {
	background-position: -179px 5px;
}
.dojoxGridCellOver .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortBtnNested {
	background-position: -149px 5px;
	width: 19px;
}
.dojoxGridCellOver .dojoxGridSortNodeAsc .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortNodeAsc .dojoxGridSortBtnNested {
	background-position: -129px 5px;
}
.dojoxGridCellOver .dojoxGridSortNodeDesc .dojoxGridSortBtnNested,
.dojoxGridCellSortFocus .dojoxGridSortNodeDesc .dojoxGridSortBtnNested {
	background-position: -169px 5px;
}
.dojoxGridNestSorted .dojoxGridCellOver .dojoxGridSortBtnSingle,
.dojoxGridNestSorted .dojoxGridCellSortFocus .dojoxGridSortBtnSingle {
	background-position: -159px 5px;
}
.dojoxGridCellOver .dojoxGridSortBtn:hover {
	background-color:#A3E4FF;  
}
.dojoxGrid .dojoxGridSortNodeFocus,
.dojoxGridCellSortFocus .dojoxGridRowSelector,
.dojoxGridCellSortFocus .dojoxGridSortBtnFocus {
	border: 1px dashed #666;
}
@import url(../../../widget/Toaster/Toaster.css);
.dojoxEllipsis,
.dojoxEllipsisShown {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}
.dojoxEllipsis window {
    width:100%;
    -moz-user-focus:normal;
    -moz-user-select:text;
}
.dojoxEllipsis description{
    -moz-user-focus:normal;
    -moz-user-select:text;
}
.dojoxEllipsisIFrame{
	white-space: normal;
	border: none;
	width: 100%;
	display: block;
	height: 1px;
	margin-top: -1px;
	clear: both;
}
.dojoxEllipsisContainer{
	width: 100%;
}
.dojoxEllipsisShown:after{
	content: "\2026"
}
.claro .dojoxGridHeader .dojoxGridHeaderActive {
	background-color:#91c9fe;
}
.claro td.dojoxGridRowSelected {
	border-collapse:separate;
	background:url(../../resources/images/row_back.png) #CEE6FA repeat-x;
}
.claro .dojoxGridRowOver td.dojoxGridRowSelected {
	border-top:1px solid #769DC0;
	border-bottom:1px solid #769DC0;
}
.claro .dojoxGridRowActive td.dojoxGridRowSelected {
	background-image:url(../../resources/images/td_button_down.png);
}
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell {
	border-color: #ABD6FF;
}
.dj_ie6 .claro .dojoxGridRowActive .dojoxGridCell {
	border-color: #7DBEFA;
}
.claro .dojoxGridPaginator{
	background: url(../../resources/images/header_shadow.png) repeat-x scroll center bottom #E5EDF4;
	
}
.claro .dojoxGridFBarInfoTD {
	background: url(../../resources/images/header_shadow.png) #F2F9FF repeat-x bottom;
	background: -moz-linear-gradient(top, #F2F9FF, #EAF5FF);
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F9FF), to(#EAF5FF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2F9FF, endColorstr=#FFEAF5FF);
}
.claro .dojoxGridFBarHover .dojoxGridFBarInfoTD {
	background: url(../../resources/images/header_shadow.png) #F2F9FF repeat-x bottom;
	background: -moz-linear-gradient(top, #ECF6FF 2px, #F2F9FF, #EAF5FF 6px);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #ECF6FF), color-stop(0.6, #F2F9FF), color-stop(0.8, #EAF5FF));
}
.dj_gecko .claro .dojoxGridFBarInfoTD,
.dj_webkit .claro .dojoxGridFBarInfoTD {
	border-top: 1px solid #BFD6EB;
	border-bottom: 1px solid #BFD6EB;
}
.dj_ie .claro .dojoxGridFBarInner{
	border-top: 1px solid #BFD6EB;
	border-bottom: 1px solid #BFD6EB;
	display:inline-block;
	width: 100%;
}
.claro .dojoxGridFBarClearFilterBtn {
	color: #5B83B6;
}
.claro .dojoxGridFBarInfoTD .dojoxGridFBarClearFilterBtn.dijitButtonHover .dijitButtonText {
	text-decoration: underline;
}
.claro .dojoxGridFBar {
	border-left: 1px solid white;
}
.claro .dojoxGridFStatusTip table {
	border: 1px solid #BCBCBC;
}
.claro .dojoxGridFStatusTip th {
	background-color: #E8EFF4;
	border-bottom: 1px solid #BCBCBC;
}
.claro .dojoxGridFStatusTip th div {
	background-color: #E8EFF4;
	border-left: 1px solid white;
	border-right: 1px solid #BCBCBC;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.claro .dojoxGridFStatusTip th.lastColumn div {
	border-right: 1px solid white;
}
.claro .dojoxGridFStatusTip td {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.claro .dojoxGridFStatusTipCondition {
	font-style: italic;
}
.claro .dojoxGridFStatusTipOddRow {
	background-color: #F1F8FF;
}
